/* Reset margin et définition de la police de base */
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* Fixe le header en haut de la page */
header {
    top: 0;
}

/* Tailwind adjustements */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-4-5xl {
    font-size: 2.5rem; /* Taille intermédiaire entre 4xl (2.25rem) et 5xl (3rem) */
  }
  .w-128 {
    width: 32rem; /* 128 * 0.25rem */
  }
  .h-128 {
    height: 32rem; /* 128 * 0.25rem */
  }
}

/* Section about me */

 /* Effet d'apparition titre + image */
 .transition-hidden {
    opacity: 0;
    transform: scale(0.95);
    visibility: hidden;
}

.transition-visible {
    opacity: 1;
    transform: scale(1);
    visibility: visible;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0); /* Opacité de la superposition */
}

/* Augmenter la taille de la section "About me" */
#about {
    position: relative;
    z-index:1;
    opacity: 1;
    min-height: 100vh; /* Assurez-vous que la section occupe toute la hauteur de la fenêtre */
    padding: 100px 0; /* Ajoutez du padding pour plus d'espace */
}

/* Background bleu foncé pour la section games */
.bg-dark-blue {
    background-color: #001f3f;
    padding: 50px 0; /* Augmentez la taille de la section */
}

/* Ajustez la couleur du texte pour la section games */
#games .text-white {
    color: white;
}

/* Style for the portfolio text with animation */
#portfolio-text {
    font-size: 3rem;
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .05em;
    border-right: .15em solid orange;
    width: 15ch;
    animation: typing-text 1s steps(24, end) 1s 1, pause 5s 2s 1, blink-caret-text 0.75s step-end 0s infinite;
    margin-top: 3rem; /* Add spacing between cards and animated text */
}

@keyframes typing-text {
    from { width: 0; }
    to { width: 15ch; /* Adjust this value to match the text length */ }
}

@keyframes pause {
    from { opacity: 1; }
    to { opacity: 1; }
}

@keyframes blink-caret-text {
    0%, 100% { border-color: transparent; }
    50% { border-color: orange; }
}


/* Transition pour les éléments de navigation */
.nav-item {
    transition: transform 0.3s;
}

/* Agrandissement des éléments de navigation au survol */
.nav-item:hover {
    transform: scale(1.1);
}

/* Mise en forme des images de jeux */
.game-image {
    width: 100%;
    height: 200px; /* Fixe une hauteur pour toutes les images */
    object-fit: cover; /* Assure que l'image couvre toute la zone */
}

/* Mise en forme des cartes */
.card {
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 45%; /* Ajustez cette valeur en fonction de la taille souhaitée */
    margin: 0 2.5%; /* Centrer la carte */
    padding: 0;
}

/* Effet de zoom et d'ombre au survol des cartes */
.card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
}

/* Mise en forme des images dans les cartes */
.card img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

/* Redimensionner et styliser les dépliants */
.card .card-content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6); /* Fond semi-transparent */
    color: white;
    padding: 10px;
    transition: transform 0.3s ease;
    transform: translateY(30%); /* Relevez les dépliants lorsqu'ils sont pliés */
    opacity: 0.85; /* Opacité modérée */
    width: 100%; /* Assure que le dépliant couvre toute la largeur de l'image */
    height: 30%; /* Hauteur initiale des dépliants */
}

/* Couleur pour le titre Games */
.card.games .card-content {
    background: rgba(199, 104, 10, 0.8);
}

/* Couleur pour le titre Design Docs Analysis */
.card.design-docs .card-content {
    background: rgba(8, 207, 131, 0.8);
}


/* Titre des cartes */
.card h3 {
    margin: 0;
    font-size: 1.5rem; /* Réduit la taille du titre pour plus de lisibilité */
}

/* Masquer la description par défaut */
.card p {
    display: none;
    font-size: 1rem; /* Réduit la taille de la description pour éviter le débordement */
    line-height: 1.4; /* Ajuste la hauteur de ligne pour plus de lisibilité */
    margin: 0;
}

/* Afficher la description au survol */
.card:hover p {
    display: block;
}

/* Animation du contenu des cartes au survol */
.card:hover .card-content {
    transform: translateY(0);
    opacity: 0.85;
}

/* Couleur pour les titres uniquement */
.card .card-title-only {
    background: #007bff; /* Couleur pour Games */
    color: white;
    text-align: center;
    padding: 10px 0;
}

/* Couleur pour le contenu des cartes */
.card-content {
    background: #28a745; /* Couleur pour Design Docs Analysis */
}

/* Masquer les titres uniquement au survol */
.card:hover .card-title-only {
    display: none;
}

/* Espacement entre le titre et la description */
.card-content p {
    margin-top: 0.5rem;
}

/* Mise en forme du projet en vedette */
.featured-project {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
    align-items: center;
    justify-content: center;
}

/* Conteneur pour les médias en vedette */
.featured-media {
    position: relative;
    padding-bottom: 28%; /* Ratio d'aspect ajusté */
    height: 0;
    width: 50%;
    margin-right: 2rem;
}

/* Mise en forme des iframes */
.featured-media iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
    object-fit: cover;
}

/* Conteneur pour les médias en vedette */
.scheme-media {
    position: relative;
    padding-bottom: 39%; /* Ajusté pour un aspect ratio 16:9 */
    height: 0;
    width: 60%; /* Augmente la largeur pour être plus grand */
    margin-right: 2rem;
}

/* Mise en forme des iframes */
.scheme-media iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
    object-fit: cover;
}

/* Description du projet en vedette */
.featured-description {
    width: 40%;
    margin-top: 0;
    padding-left: 12px;
}

.scheme-description {
    width: 40%; /* Largeur ajustée pour équilibrer avec les médias */
    margin-top: 0;
    padding-left: 12px;
}

/* Conteneur des cartes de projet */
.project-cards {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
}

/* Mise en forme des cartes de projet */
.project-card {
    width: 100px;
    height: 100px;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
}

/* Mise en forme des images dans les cartes de projet */
.project-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
}

/* Effet de zoom et d'ombre au survol des cartes de projet */
.project-card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
}

/* Mise en forme des chevrons de navigation */
.chevron {
    background: none;
    border: none;
    font-size: 2rem;
    color: #333;
    cursor: pointer;
    transition: color 0.3s;
}

/* Changement de couleur au survol des chevrons */
.chevron:hover {
    color: #666;
}

/* Ajoute un curseur pointer */
.cursor-pointer {
    cursor: pointer;
}

/* Mise en forme des titres et espacement */
#favorite-games h2 {
    font-size: 2rem; /* Ajuster la taille du titre */
    margin-bottom: 2rem; /* Ajouter une marge en bas */
}

/* Mise en forme des images dans les jeux favoris */
#favorite-games .game-image {
    width: 100%;
    height: 100%; /* Pour que l'image couvre toute la zone */
    object-fit: cover;
}

/* Mise en forme du conteneur des jeux favoris */
#favorite-games .bg-gray-100 {
    padding: 1rem; /* Ajuster le padding pour rendre les images et le texte uniformes */
    opacity: 1;
    width: 400px;
    height: 400px;
}

/* Ajoute une marge entre les sections pour éviter le chevauchement */
.section {
    margin-bottom: 100px; /* Ajuster cette valeur pour donner plus d'espace */
}

/* Marge et largeur de la section games */
#games {
    padding: 100px 0; 
}

/* style.css */
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    top: 0;
}

.nav-item {
    transition: transform 0.3s;
}

.nav-item:hover {
    transform: scale(1.1);
}

.featured-scheme {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.projects-media {
    position: relative;
    padding-bottom: 56.25%; /* Adjusted aspect ratio for larger view */
    height: 0;
    width: 70%;
    margin-right: 2rem;
}

.scheme-cards {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
}

.scheme-card {
    width: 100px;
    height: 100px;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
}

.scheme-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
}

.scheme-card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
}

.cursor-pointer {
    cursor: pointer;
}

/* Smooth Scroll */
html {
    scroll-behavior: smooth;
}
